* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #d0d0d0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatbot {
    width: 440px;
    margin-top: 15px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;

}


.chatbot header {
    background-color: blue;
    text-align: center;
    padding: 15px 0;
    color: white;

}

.chatbot .chatbox {
    height: 440px;
    overflow-y: auto;
    padding: 30px 20px 70px;

}

.chat {
    display: flex;

}

.robot-chat .fa-robot {
    height: 25px;
    width: 25px;
    background-color: blue;
    color: white;
    line-height: 25px;
    text-align: center;
    border-radius: 3px;
    align-self: flex-end;
    margin: 0 5px;
}

.chatbox .robot-chat p {
    color: black;
    background-color: antiquewhite;
    border-radius: 7px;
}

.chatbox .man-chat {
    justify-content: flex-end;
    margin: 20px 0;
}

.man-chat .fa-circle-user {
    margin-left: 10px;
    align-self: flex-end;
    font-size: 20px;
    color: black;

}

.chat p {
    background-color: blue;
    max-width: 65%;
    padding: 10px 15px;
    color: white;
    border-radius: 8px 8px 0 8px;
}


.chatbot .chat-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 5px 20px;
    border-top: 1px solid gray;
}

.chat-input textarea {
    height: 55px;
    width: 90%;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    font-size: 16px;
}

.chat-input .fa-paper-plane {
    color: blue;
    cursor: pointer;
}
